/*------- custom responsive css code here --------*/

.pull-right-not-xs, .pull-right-not-sm, .pull-right-not-md, .pull-right-not-lg{
    float: right;
}
.pull-left-not-xs, .pull-left-not-sm, .pull-left-not-md, .pull-left-not-lg{
    float: left;
}
@media (max-width:767px) {
    .pull-right-not-xs, .pull-left-not-xs{
        float: none;
    }
    .pull-right-xs {
        float: right;
    }
    .pull-left-xs {
        float: left;
    }
   .content .ui-datatable-header.ui-widget-header.ui-corner-top {
    	padding:0 0 0 10px
    }
    .content .padd-lef-20, .content .padd-lef-10 {
    	padding-left:0;
    }
    .ui-selectonemenu-panel {
  		width: 79% !important;
	}
	.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
		margin-top:5px;
		margin-bottom:5px;
		vertical-align:middle;
	}
	span.ui-paginator-prev, select.ui-paginator-rpp-options {
		margin-top:5px;
	}
	.beneficiary-tab #benefy-tab li {
  		margin-bottom: 5px;
}
	.cus-tooltip {
		left:10% !important;
		width:80% !important;
	}
}
@media (min-width:768px) and (max-width: 991px) {
    .pull-right-not-sm, .pull-left-not-sm{
        float: none;
    }
    .pull-right-sm {
        float: right;
    }
    .pull-left-sm {
        float: left;
    }
    span.cus-time-picker {
		width: 28% !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .pull-right-not-md, .pull-left-not-md{
        float: none;
    }
    .pull-right-md {
        float: right;
    }
    .pull-left-md {
        float: left;
    }
    span.cus-time-picker {
	width: 28% !important;
}
}
@media (min-width: 1200px) {
    .pull-right-not-lg, .pull-left-not-lg{
        float: none;
    }
    .pull-right-lg {
        float: right;
    }
    .pull-left-lg {
        float: left;
    }
}